body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #1a1919;
}



header {
    background-color: rgba(254, 140, 27, 0.905);
    color: #000000;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;

}
 

.intro, .qualities, .conclusion {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://media.istockphoto.com/id/1297933144/vector/vector-illustration-of-indian-tricolor-flag-background.jpg?s=612x612&w=0&k=20&c=tCd-ZdLMNHw_KAMZTX9zStqEDdWzXlS6FYrvjrZIswk=');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.profile-img {
    display: block;
    margin: 0 auto 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

h2 {
    color: #1e1f20;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: green;
    color: #2a2828;
    position: fixed;
    width: 100%;
    bottom: 0;
}
